.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-left: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  max-width: 190px;
}